/*
 * Copyright (C) 2021 Seeed Studio
 * Zhangqun Ming <north_sea@qq.com>
 *
 * MIT License
 *
 */
/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709", "brcm,bcm2711";

    fragment@0 {
        target-path="/";
        __overlay__ {
            hardware = "reTerminal V1.9";
        };
    };

	fragment@1 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port {
				dsi_out_port: endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};
		};
	};
	
	fragment@2 {
		target = <&gpio>;
		__overlay__ {
			power_key: power_key {
				brcm,pins = <13>;    /* gpio number */
				brcm,function = <0>; /* 0 = input, 1 = output */
				brcm,pull = <2>;     /* 0 = none, 1 = pull down, 2 = pull up */
			};

			mcp23008_pins: mcp23008_pins@20 {
				brcm,pins = <6>;     /* gpio number */
				brcm,function = <0>; /* 0 = input, 1 = output */
				brcm,pull = <2>;     /* 0 = none, 1 = pull down, 2 = pull up */
			};
		};
	};

	fragment@3 {
		target = <&mcp23008>;
		mcp23008_irq: __overlay__ {
			#interrupt-cells=<2>;
			interrupt-parent = <&gpio>;
			interrupts = <6 2>; /* IRQ_TYPE_EDGE_FALLING */
			interrupt-controller;
			microchip,irq-mirror;
		};
	};

	fragment@4 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";

			/* this is the configuration part */
			clock-frequency = <300000>;

			#address-cells = <1>;
			#size-cells = <0>;
			
			lis331dlh@19 {
				compatible = "st,lis331dlh";
				reg = <0x19>;
				status = "okay";
			};
			
			mcp23008: mcp@20 {
				compatible = "microchip,mcp23008","nxp,pca9554";
				reg = <0x38>;
				status = "okay";

				gpio-controller;
				#gpio-cells = <2>;

				input_pins: pinmux {
					pins =
						"gpio0",
						"gpio1",
						"gpio2",
						"gpio3";
					bias-pull-up;
				};
			};

			ltr303@29 {
				compatible = "liteon,ltr303";
				reg = <0x29>;
				status = "okay";
			};
			
			mipi_dsi: mipi_dsi@45 {
				compatible = "i2c_dsi,ili9881d";
				reg = <0x45>;
				
				mcu_auto_reset_enable = <0>;
				tp_point_rotate = <0>;

				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@5 {
		target = <&i2c3>;
		__overlay__ {
			status = "okay";

			/* this is the configuration part */
			clock-frequency = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
			
			pcf8563@51 {
				compatible = "nxp,pcf8563";
				reg = <0x51>;
			};
		};
	};
	
	fragment@6 {
		target = <&gpio_keys>;
		patch:__overlay__ {
			pinctrl-0 = <>;
		};
	}; 

	__overrides__ {
		int = <&mcp23008_pins>,"brcm,pins:0",
				<&mcp23008_irq>,"interrupts:0";
		addr = <&mcp23008>,"reg:0", 
				<&mcp23008_pins>,"reg:0";
		noints = <0>,"!1!2";

		mcu_auto_reset = <&mipi_dsi>,"mcu_auto_reset_enable:0";
		tp_rotate = <&mipi_dsi>,"tp_point_rotate:0";
		mcp23008 = <&patch>,"pinctrl-0:0=",<&input_pins>;
	};
};